<div class="text-center space-y-3">
    <h1 class=" text-4xl md:text-6xl text-[#384949] font-semibold">URL Shortner</h1>
    <p class="text-[#4a696f] text-sm md:text-lg">Shortner is free tool to shorten URLs. Short, memorable
        link in
        seconds
    </p>
</div>