<footer class="flex justify-center items-center text-[#4a696f] bg-[#fffcef] py-2 fixed bottom-0 w-full">
    <% var date=new Date() %>
        <span class="text-xs md:text-lg">&copy <%= date.getFullYear() %> |
                <a href="#" target="_blank">Disclamer</a> | Made with &#10084; in India <a
                    href="https://www.linkedin.com/in/damanohri/" class="text-[#ff9f00]">@damanOhri</a></span>
</footer>