<header class="w-full text-center h-38 px-[5%]">
    <div class="flex items-center justify-center md:justify-start gap-x-3 p-2 py-5">
        <img src="../images/logo.png" alt="logo" class="w-8 md:w-9">
        <img src="../images/logo-text.png" alt="" class="w-32 md:w-36">
    </div>
</header>