<header class="w-full h-38 px-[5%] sticky top-0">
    <div class="flex justify-between items-center p-2 py-5">
        <a href="/" class="flex items-center justify-center md:justify-start gap-x-3 py-1 bg-[#fffcef]">
            <img src="../images/logo.png" alt="logo" class="w-6 md:w-9">
            <img src="../images/logo-text.png" alt="" class="w-28 md:w-36">
        </a>
        <a href="/history"
            class="text-md md:text-xl bg-[#ff9f00] text-[#fffcef] px-3 py-1.5 rounded flex items-center justify-between gap-x-2 shadow-lg shadow-[#ff9f00]/20">
            <img src="../images//history.png" alt="hostory" class="w-5 md:w-6 w-5 md:h-6" />
            <span class="">History</span>
        </a>
    </div>
</header>